@using EntityLayer.Concrete
@model FirinTakip.Dto.FaturaBilgileriDto 

     
@{
    ViewBag.Title = "UpdateFatura";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Fatura Güncelleme Sayfası</h2>
@using (Html.BeginForm("UpdateFatura", "Fatura", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Musteri Id")
        @Html.TextBoxFor(x => x.MusteriId, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.MusteriId)
        <br /><br />
        @Html.Label("Musteri Adı")
        @Html.TextBoxFor(x => x.MusteriAdi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.MusteriAdi)
        <br /><br />
        @Html.Label("Ürün ID")
        @Html.TextBoxFor(x => x.UrunId, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UrunId)
        <br /><br />
        @Html.Label("Ürün Adı")
        @Html.TextBoxFor(x => x.UrunAdi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UrunAdi)
        <br /><br />
        @Html.Label("Tarih")
        @Html.TextBoxFor(x => x.FaturaTarihi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FaturaTarihi)
        <br /><br />
        @Html.Label("Ödeme Durumu")
        @Html.TextBoxFor(x => x.OdemeDurumu, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.OdemeDurumu)
        <br /><br />
        @Html.Label("Aktiflik ")
        <span> : </span> @Html.CheckBoxFor(x => x.Aktiflik.Value, true)
        @Html.CheckBox("Aktiflik")
        @Html.ValidationMessageFor(x => x.Aktiflik)
        <br /><br />
        <button class="btn btn-info">Güncelle</button>
    </div>
}

