@model EntityLayer.Concrete.Urun
@{
    ViewBag.Title = "AddUrun";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h1>Yeni Müşteri Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddUrun", "Urun", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Urun Adı")
        @Html.TextBoxFor(x => x.UrunAdi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UrunAdi)
        <br /><br />
        @Html.Label("Almanca Adı")
        @Html.TextBoxFor(x => x.AlmancaAdi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AlmancaAdi)
        <br /><br />
        @Html.Label("Fiyat")
        @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Fiyat)
        <br /><br />
        @Html.Label("Tatlı")
        <span> : </span> @*@Html.CheckBoxFor(x => x.TatliMi.Value, true)*@
        @Html.CheckBox("TatliMi", false)
        @Html.ValidationMessageFor(x => x.TatliMi)
        <br /><br />
        @Html.Label("Aktiflik ")
        <span> : </span> @*@Html.CheckBoxFor(x => x.Aktiflik.Value, true)*@
        @Html.CheckBox("Aktiflik", true)
        @Html.ValidationMessageFor(x => x.Aktiflik)
        <br /><br />
        <br /><br />
        <button class="btn btn-info">Kaydet</button>
    </div>
}

