@model EntityLayer.Concrete.Siparis
@{
    ViewBag.Title = "AddSiparis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Sipariş Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddSiparis", "Siparis", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Urun Adı")
        @Html.TextBoxFor(x => x.Urun, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Urun)
        <br /><br />
        @Html.Label("Müşteri ID")
        @Html.TextBoxFor(x => x.MusteriID, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.MusteriID)
        <br /><br />
        @Html.Label(" Ödeme Şekli")
        @Html.TextBoxFor(x => x.OdemeSekli, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.OdemeSekli)
        <br /><br />
        <button class="btn btn-info">Kaydet</button>
    </div>
}

