@model EntityLayer.Concrete.Musteri

@{
    ViewBag.Title = "AddMusteri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Müşteri Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddMusteri", "Musteri", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Musteri Adı")
        @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Ad)
        <br /><br />
        @Html.Label("Soyad ")
        @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Soyad)
        <br /><br />
        @Html.Label("Telefon numarası")
        @Html.TextBoxFor(x => x.TelefonNo, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TelefonNo)
        <br /><br />
        @Html.Label("Mail Adresi")
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Mail)
        <br /><br />
        @Html.Label("Müşteri Adresi")
        @Html.TextBoxFor(x => x.Adresi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Adresi)
        <br /><br />
        @Html.Label("Aktiflik ")
        <span> : </span> @*@Html.CheckBoxFor(x => x.Aktiflik.Value, true)*@
        @Html.CheckBox("Aktiflik", true)
        @Html.ValidationMessageFor(x => x.Aktiflik)
        <br /><br />
        <button class="btn btn-info">Kaydet</button>
    </div>
}
