@using EntityLayer.Concrete
@model List<Musteri>
@{
    ViewBag.Title = "GetMusteriList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered ">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>TelefonNo</th>
        <th>Adres</th>
        <th>Mail</th>
        <th>Düzenle</th>
        <th>Mail Gönder</th>
        <th>Sil</th>

    </tr>
    @foreach (var y in Model)
    {
        <tr>
            <td>@y.ID</td>
            <td>@y.Ad</td>
            <td>@y.Soyad</td>
            <td>@y.TelefonNo</td>
            <td>@y.Adres</td> @*adres içeriklerini nasıl getirebilirim*@
            <td>@y.Mail</td>
            <td><a href="#" class="btn btn-warning">Düzenle</a></td>
            <td><a href="#" class="btn btn-info">Mail Gönder</a></td>
            <td><a href="/Musteri/DeleteMusteri/@x.ID" class="btn btn-danger">Sil</a></td>

        </tr>
    }

</table>
<br />
<td><a href="/Musteri/AddMusteri" class="btn btn-info">Ekle</a></td>

