@using EntityLayer.Concrete
@model List<Musteri>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered ">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>TelefonNo</th>
        <th>Adres</th>
        <th>Mail</th>
        <th>Düzenle</th>
        <th>Mail Gönder</th>
        <th>Sil</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Ad</td>
            <td>@x.Soyad</td>
            <td>@x.TelefonNo</td>
            <td>@x.Adres</td>
            <td>@x.Mail</td>
            <td><a href="#" class="btn btn-warning">Düzenle</a></td>
            <td><a href="#" class="btn btn-info">Mail Gönder</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>

        </tr>
    }

</table>
<br />
<td><a href="/Musteri/AddMusteri" class="btn btn-info">Ekle</a></td>

@*otomatik mail gönderme eklenecek*@


