@model EntityLayer.Concrete.Musteri
@{
    ViewBag.Title = "UpdateMusteri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Müşteri Güncelleme Sayfası</h2>
@using (Html.BeginForm("UpdateMusteri","Musteri",FormMethod.Post))
 {
    <div class="form-group">
        @Html.Label("Musteri Adı")
        @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Ad)
        <br /><br />
        @Html.Label("Soyad ")
        @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Soyad)
        <br /><br />
        @Html.Label("Telefon numarası")
        @Html.TextBoxFor(x => x.TelefonNo, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TelefonNo)
        <br /><br />
        @Html.Label("Mail Adresi")
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Mail)
        <br /><br />
        @Html.Label("Müşteri Adresi")
        @Html.TextBoxFor(x => x.Adresi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Adresi)
        <br /><br />
        @Html.Label("Aktiflik ")
        <span> | Aktiflik: </span> @Html.CheckBoxFor(x => x.Aktiflik.Value, true)işaretli gelmiyorrrrr
        @Html.ValidationMessageFor(x => x.Aktiflik)
        <br /><br />
        <button class="btn btn-info">Güncelle</button>
    </div>
 }
